body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  background-color: rgb(201, 204, 204);
  background-image: url(img/Dua-Lipa-Radical-Optimism.jpg);
}

img {
  max-width: 100%;
  display: block;
}

.album {
  max-width: 30px;
  display: block;
}

.vinil {
  max-width: 30px;
  display: block;
}

.cd {
  max-width: 30px;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.header {
  display: grid;
  gap: 60px;
  justify-items: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  display: block;
  background: #dfdede;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid transparent;
}

.menu a:hover {
  border-color: rgb(71, 208, 208);
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao::before {
  content: "";
  width: 60px;
  height: 4px;
  background: rgb(91, 209, 209);
  position: absolute;
  top: 30px;
  right: -30px;
}

.botao {
  background: aqua;
  color: black;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background: rgb(128, 242, 242);
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: url("./img/onda.svg");
}

.dualipa {
  background: #fff;
  padding: 40px;
}

.dualipa-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.dualipa-item:nth-child(odd) {
  background: #f7f7f7;
}

.dualipa-item:hover {
  border-color: rgb(128, 244, 244);
}

.dualipa-item p {
  grid-column: 2;
}

.rodape {
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
